*{
    margin: 0px;
    padding: 0px;
    
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   
}
.box{
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}
body{
    background-color: aquamarine;
     text-align: center;
}
#reset{
    font-size: 1rem;
    padding: 1rem;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
}
#newbtn{
    font-size: 1rem;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
#msg-container{
    height: 100vh;
   
}
#msg{
    font-size:50px;
}
.hide{
    display: none;
}
.players{
    display: flex;
    flex-direction: column;
}
#player1Symbol{
    margin-top: 10px;
}